* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.select {
  padding: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.bg {
  margin: 0;
  padding: 0;
}

i {
  font-size: 40px;
}

.light-blue {
  color: #6bb6ff;
}

.bg-lightblue {
  background-color: #6bb6ff;
}

.select {
  display: flex;
  justify-content: center;
}

.title h1 {
  padding-left: 10px;
  padding-bottom: 2px;
  font-size: 45px;
}

h5 {
  padding: 0 10px;
}

.col-12 {
  width: 100%;
}

.icone {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.icons {
  padding: 10px 0;
  margin: 20px 50px;
  width: 200px;
  height: 80px;
  background-color: #ffff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px lightgrey;
}


.special {
  background-color: #eeee;
  padding-bottom: 50px;
}

.name {
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 0;
}
